@charset "UTF-8";

/* reset */

body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* common */
/* container */

.container {
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
}

/* grid */

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.image {
  width: 250px;
  height: 250px;
}

/* header */

header {
  background: #af384d;
  padding: 100px 0;
}

.text-white {
  color: white;
}

.title {
  font-size: 34px;
  margin-bottom: 50px;
  font-weight: normal;
}

.link {
  display: inline-block;
  padding: 10px 40px;
  background: #fff;
  text-align: center;
  color: #b81a3e;
  border-radius: 5px;
  text-decoration: none;
  opacity: 1;
}

.link:hover {
  opacity: 0.7;
}

.shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.header-col:last-of-type {
  padding: 10px;
  text-align: right;
  box-sizing: border-box;
}

/* main */

article {
  padding: 100px 0;
  background: #fff;
}

article:nth-of-type(2n) {
  background: #f8f8f8;
}

.sub-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: normal;
}

/* overview, notice */

.lists {
  text-align: center;
}

.list {
  margin-bottom: 40px;
}

.lists .list:last-of-type {
  margin-bottom: 0;
}

/* voices */

.voices-grid {
  margin-bottom: 40px;
}

.voices-grid:last-of-type {
  margin-bottom: 0;
}

.voices-grid:nth-of-type(2n) .voices-col:first-of-type {
  text-align: right;
}

.voices-grid:nth-of-type(2n) .voices-col:last-of-type {
  grid-row-start: 1;
}

.circle {
  border-radius: 50%;
}

/* footer */

footer {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: #af384d;
}

/* sp */

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .header-col {
    text-align: center;
  }
  .header-col:last-of-type {
    text-align: center;
    grid-row-start: 1;
  }
}

@media (max-width: 767px) {
  .voices-grid:nth-of-type(2n) .voices-col:first-of-type {
    text-align: center;
    grid-row-start: 1;
  }
  .voices-grid:nth-of-type(2n) .voices-col:last-of-type {
    grid-row-start: 2;
  }
  .voices-col {
    text-align: center;
  }
}
